section.hero {
    min-height: calc(100vh - 80px);
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}

section.hero button {
    background-color: rgb(107, 77, 134);
    border: 2px solid rgb(47, 47, 61);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 2px 2px 3px 0px black;
}

section.hero button a {
    color: rgb(47, 47, 61);
    text-decoration: none;
}

/*add comment later*/
/* section.hero h1, section.hero p{
    height: fit-content;
    text-align: center;
}