@import "./header.css";
@import "./hero.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: rgb(21, 21, 22);
    background-color: rgb(61, 69, 77);
}

main{
    padding-inline: 64px;
    display: grid;
    gap: 64px;
    margin: 64px 0;
}

/** styler ALLE seksjoner på siden: */

section{
    border: 2px solid black;
    background-color: rgb(199, 177, 177);
}

section:last-of-type{
    margin-bottom: 64px;
}